<form name="form" #f="ngForm" (submit)="updateFaculty()">
  <div class="form-group">
    <label for="titleInput">NameFaculty</label>
    <input type="text" class="form-control" id="titleInput" name="title" [(ngModel)]="faculty.nameFaculty">
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone</label>
    <input type="text" class="form-control" id="phoneInput" name="title" [(ngModel)]="faculty.phone">
  </div>

  <div class="form-group">
    <label for="personList">Example select</label>
    <select class="form-control" id="personList" (change)="savePersonToList($event)">
      <option *ngFor="let person of persons" value="{{person.id}}">{{person.fio}}</option>
    </select>
  </div>

  <ul class="list-group" *ngFor="let person of selectedPersons">
    <li class="list-group-item">{{person.fio}}
      <button type="button" class="btn btn-outline-warning btn-sm pull-right" (click)="removePersonFromList(person)">Remove</button>
    </li>
  </ul>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
