<button class="btn btn-primary mt-5" (click)="showCreateForm()">Create</button>
<table id="entity-list">
  <caption>Faculty</caption>
  <tr>
    <th scope = "col">Name Faculty</th>
    <th scope = "col">Phone</th>
    <th scope = "col">Action</th>
  </tr>
  <tr *ngFor="let faculty of faculties">
    <td>{{faculty.nameFaculty}}</td>
    <td>{{faculty.phone}}</td>
    <td>
      <a (click)="editFaculty(faculty.id)" class="href-button">Edit</a>
      <a (click)="deleteFaculty(faculty.id)" class="href-button">Delete</a>
    </td>
  </tr>
</table>
<form name="form" #f="ngForm" (submit)="filterFaculty()">
  <div class="form-group">
    <label for="personList">Example select</label>
    <select class="form-control" id="personList" name="person" [(ngModel)]="model.id">
      <option *ngFor="let person of persons" value="{{person.id}}">{{person.fio}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Filter</button>
</form>
<app-add-faculty id="createFacultyForm" hidden></app-add-faculty>
<app-edit-faculty id="editFacultyForm" [faculty]="faculty" [selectedPersons]="faculty.persons" [persons]="persons" hidden></app-edit-faculty>

