<form name="form" #f="ngForm" (submit)="createFaculty()">
  <div class="form-group">
    <label for="nameFaculty">Name Faculty:</label>
    <input type="nameFaculty" [(ngModel)]="model.nameFaculty" placeholder="nameFaculty" name="nameFaculty" class="form-control" id="nameFaculty">
  </div>
  <div class="form-group">
    <label for="phone">Phone:</label>
    <input [(ngModel)]="model.phone" placeholder="Phone" name="phone" class="form-control" id="phone">
  </div>

  <div class="form-group">
    <label for="personList">Example select</label>
    <select class="form-control" id="personList" (change)="savePersonToList($event)">
      <option *ngFor="let person of persons" value="{{person.id}}">{{person.fio}}</option>
    </select>
  </div>
  <ul class="list-group" *ngFor="let person of selectedPersons">
    <li class="list-group-item">{{person.fio}}
      <button type="button" class="btn btn-outline-warning btn-sm pull-right" (click)="removePersonFromList(person)">Remove</button>
    </li>
  </ul>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-primary">Reset form</button>
</form>
